<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title th:text="${@environment.getProperty('spring.application.name')}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" href="../../static/css/core.css" th:href="@{/css/core.css}"/>

</head>
<body>

<div th:replace="fragments/header :: header">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
        </div>
    </nav>
</div>

<!--/*@thymesVar id="errors" type="java.util.Collection"*/-->
<div id="errors" th:each="error: ${errors}">
    <div class="alert alert-danger" role="alert">
        <strong th:text="#{views.error}">Error</strong> <th:block th:text="error"/>
    </div>
</div>

<!--/*@thymesVar id="messages" type="java.util.Collection"*/-->
<div id="messages" th:each="message: ${messages}">
    <div class="alert alert-primary" role="alert">
        <strong th:text="#{views.info}">Info</strong> <th:block th:text="message"/>
    </div>
</div>

<div class="container" layout:fragment="content">
    <p>Content goes here...</p>
</div>

<footer th:replace="fragments/footer :: footer" class="footer">
    <div class="container">
        <span class="text-muted">&copy; Melashchenko, 2018</span>
    </div>
</footer>

<script src="../../static/js/errorHandler.js" th:src="@{/js/errorHandler.js}"></script>

<script th:src="@{/webjars/jquery/jquery.min.js}"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script th:src="@{/webjars/popper.js/dist/umd/popper.js}"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

<th:block layout:fragment="scripts">

</th:block>

</body>
</html>