<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Header</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}">

    <link rel="stylesheet"
          th:href="@{/webjars/font-awesome/5.0.10/css/font-awesome.min.css}">

    <link rel="stylesheet" href="../../static/css/core.css" th:href="@{/css/core.css}"/>

</head>
<body>

<nav class="navbar navbar-dark bg-dark" th:fragment="header">
    <a class="navbar-brand" href="#" th:href="@{/documents}" th:text="#{views.navbar.title}">Documents registry</a>

    <ul class="navbar-nav mr-sm-2">
        <li class="nav-item">
            <a class="nav-link" href="#" th:href="#{/logout}" th:text="#{views.action.logout}">
                Logout
            </a>
        </li>
    </ul>
</nav>

</body>
</html>