<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Header</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" href="../../static/css/core.css" th:href="@{/css/core.css}"/>

</head>
<body>

<nav class="navbar navbar-dark bg-dark" th:fragment="header">
    <a class="navbar-brand" href="#" th:href="@{/documents}" th:text="#{views.navbar.title}">Documents registry</a>

    <ul class="navbar-nav mr-sm-2" sec:authorize="isAuthenticated()">
        <li class="nav-item">
            <form th:action="@{/logout}" method="post">
                <a onclick="this.parentNode.submit()" class="nav-link" href="#" th:text="#{views.action.logout}">
                    Logout
                </a>
            </form>
        </li>
    </ul>

    <ul class="navbar-nav mr-sm-2" sec:authorize="not isAuthenticated()">
        <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/signIn}" th:text="#{views.forms.signIn}">
                Login
            </a>
        </li>
    </ul>
</nav>

</body>
</html>