<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" href="../../static/css/core.css" th:href="@{/css/core.css}"/>

</head>
<body>

<!--/*@thymesVar id="model" type="org.springframework.data.domain.Page"*/-->
<nav aria-label="Page navigation" class="justify-content-center" th:if="${model.totalPages > 1}" th:fragment="pager">
    <ul id="pagination" class="pagination">

        <li class="page-item disabled" th:if="${model.isFirst()}">
            <a class="page-link" href="#" aria-label="Previous">
                <span>&laquo;</span>
            </a>
        </li>

        <li class="page-item" th:if="${model.hasPrevious()}">
            <a class="page-link"
               th:href="@{''(page = ${model.number}, limit = ${model.pageable.pageSize}, code = ${param.code})}"
               aria-label="Previous">
                <span>&laquo;</span>
            </a>
        </li>

        <th:block th:each="i: ${#numbers.sequence(0, model.totalPages - 1)}">
            <li class="page-item active" th:if="${model.pageable.pageNumber == i}">
                <a class="page-link" href="#" th:text="${i + 1}">1</a>
            </li>
            <li class="page-item" th:unless="${model.pageable.pageNumber == i}">
                <a class="page-link"
                   th:href="@{/documents (page = ${i + 1}, limit = ${model.pageable.pageSize}, code = ${param.code})}"
                   th:text="${i + 1}">
                    2
                </a>
            </li>

        </th:block>

        <li class="page-item disabled" th:if="${model.isLast()}">
            <a class="page-link" href="#" aria-label="Previous">
                <span>&raquo;</span>
            </a>
        </li>

        <li class="page-item" th:if="${model.hasNext()}">
            <a class="page-link"
               th:href="@{''(page = ${model.number} + 2, limit = ${model.pageable.pageSize}, code = ${param.code})}"
               aria-label="Next">
                <span>&raquo;</span>
            </a>
        </li>

    </ul>
</nav>


<script th:src="@{/webjars/jquery/jquery.min.js}"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script th:src="@{/webjars/popper.js/dist/umd/popper.js}"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
</body>
</html>