<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet"
          th:href="@{/webjars/font-awesome/css/font-awesome.min.css}">

    <link rel="stylesheet" href="../../static/css/core.css" th:href="@{/css/core.css}"/>

</head>
<body>

<!--/*@thymesVar id="model" type="org.springframework.data.domain.Page"*/-->
<nav aria-label="Page navigation" class="justify-content-center" th:if="${model.totalPages > 1}" th:fragment="pager">
    <ul id="pagination" class="pagination">

        <li class="disabled" th:if="${model.isFirst}">
            <a href="#" aria-label="Previous">
                <span>&laquo;</span>
            </a>
        </li>

        <li th:if="${model.hasPrevious}">
            <a th:href="@{''(page = ${model.number} - 1, limmit = ${model.size}, name = ${name})}"
               aria-label="Previous">
                <span>&laquo;</span>
            </a>
        </li>

    </ul>
</nav>


<script th:src="@{/webjars/jquery/jquery.min.js}"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script th:src="@{/webjars/popper.js/dist/umd/popper.js}"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
</body>
</html>