<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{views.error.notFound}">Not found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" href="../../static/css/core.css" th:href="@{/css/core.css}"/>

</head>
<body>

<div class="text-center">
    <h1 class="display-1">404</h1>
    <h1 th:text="#{views.error.notFound}">Not found</h1>
    <h1><a th:text="#{views.error.home}" th:href="@{/documents}">Back to home</a></h1>
</div>

</body>
</html>