<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title th:text="#{views.document}">Document</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" href="../static/css/core.css" th:href="@{/css/core.css}"/>

</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Static header</a>
        </div>
    </div>
</nav>

<!--/*@thymesVar id="model" type="com.fpm.registry.dto.DocumentDto"*/-->
<div class="container margin-top" layout:fragment="content">
    <h1 class="title" th:text="#{views.document}">Document</h1>

    <form id="documentForm" action="#" accept-charset="UTF-8" method="post"
          th:attr="data-document-id=${model?.id}">

        <div class="form-group">
            <label for="code" th:text="#{views.document.code}">
                Code
            </label>
            <input class="form-control" name="code" id="code"
                   th:placeholder="#{views.document.code}"
                   th:value="${model?.code}"/>
        </div>

        <div class="form-group">
            <label for="description" th:text="#{views.document.description}">
                Description
            </label>
            <textarea class="form-control" name="description" id="description"
                      th:placeholder="#{views.document.description}"
                      th:text="${model?.description}"
                      th:value="${model?.description}"></textarea>
        </div>

        <div class="form-group">
            <label for="place" th:text="#{views.document.place}">
                Place
            </label>
            <input class="typeahead form-control" name="place" id="place" data-provide="typeahead"
                   th:attr="data-autocomplete-source=@{/api/v1/places}"
                   th:placeholder="#{views.document.place}"
                   th:value="${model?.place?.canonicalName}">
        </div>

        <div class="form-group">
            <label for="attachment" th:text="#{views.document.attachment}">
                Attachment
            </label>
            <input type="file" accept="application/pdf" class="form-control" name="attachment" id="attachment"
                   th:placeholder="#{views.document.attachment}">
        </div>

        <input class="btn btn-primary" type="submit"
               th:value="#{views.action.save}" value="Save">
    </form>

</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; Melashchenko, 2018</span>
    </div>
</footer>

<th:block layout:fragment="scripts">
    <script th:src="@{/webjars/typeahead.js/dist/typeahead.bundle.min.js}"></script>
    <script src="../static/js/document.js" th:src="@{/js/document.js}"></script>
    <script src="../static/js/placeAutoComplete.js" th:src="@{/js/placeAutoComplete.js}"></script>
</th:block>

</body>
</html>