<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title th:text="#{views.document}">Document</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}">

    <link rel="stylesheet"
          th:href="@{/webjars/font-awesome/5.0.10/css/font-awesome.min.css}">

    <link rel="stylesheet" href="../static/css/core.css" th:href="@{/css/core.css}"/>

</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Static header</a>
        </div>
    </div>
</nav>

<!--/*@thymesVar id="model" type="com.fpm.registry.dto.DocumentDto"*/-->
<!--/*@thymesVar id="user" type="com.fpm.registry.dto.UserDto"*/-->
<div class="container margin-top" layout:fragment="content">
    <h1 class="title" th:text="#{views.document}">Document</h1>

    <form action="${pageContext.request.contextPath}/site/duty" accept-charset="UTF-8" method="post">

        <div class="form-group">
            <label for="name" th:text="#{views.document.name}">
                Name
            </label>
            <input class="form-control" name="name" id="name"
                   th:placeholder="#{views.document.name}"
                   th:value="${model.name}"/>
        </div>

        <div class="form-group">
            <label for="description" th:text="#{views.document.description}">
                Description
            </label>
            <textarea class="form-control" name="description" id="description"
                      th:placeholder="#{views.document.description}"
                      th:value="${model.description}">

                </textarea>
        </div>

        <div class="form-group">
            <label for="tags" th:text="#{views.document.tags}">
                Tags
            </label>
            <input class="form-control" name="tags" id="tags"
                   th:placeholder="#{views.document.tags}"
                   th:value="${model.tags}">
        </div>

        <div class="form-group">
            <label for="country" th:text="#{views.document.country}">
                Country
            </label>
            <input class="form-control" name="country" id="country"
                   th:placeholder="#{views.document.country}"
                   th:value="${model.place.country.name}">
        </div>

        <div class="form-group">
            <label for="place" th:text="#{views.document.tags}">
                Place
            </label>
            <input class="form-control" name="place" id="place"
                   th:placeholder="#{views.document.tags}"
                   th:value="${model.tags}">
        </div>

        <div class="form-group">
            <label for="attachment" th:text="#{views.document.attachment}">
                Attachment
            </label>
            <input type="file" class="form-control" name="attachment" id="attachment"
                   th:placeholder="#{views.document.attachment}"
                   th:value="${model.tags}">
        </div>

        <input class="btn btn-primary" type="submit"
               th:value="#{views.action.save}" value="Save">
    </form>

</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; Melashchenko, 2018</span>
    </div>
</footer>

</body>
</html>