<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title th:text="#{views.document}">Document</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" href="../static/css/core.css" th:href="@{/css/core.css}"/>

</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Static header</a>
        </div>
    </div>
</nav>

<div class="container margin-top" layout:fragment="content">
    <div class="text-center">
        <h2 class="title" th:text="#{views.forms.signUp}">Sign Up</h2>
        <hr/>
    </div>

    <div class="row main">
        <div class="main-login main-center">
            <form th:action="@{/users}" method="post">

                <div class="form-group">
                    <label for="login" th:text="#{views.user.username}"></label>
                    <div>
                        <div class="input-group">
                            <input class="form-control" name="login" id="login"
                                   th:placeholder="#{views.user.username}"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" th:text="#{views.user.password}">Password</label>
                    <div>
                        <div class="input-group">
                            <input type="password" class="form-control" name="password" id="password"
                                   th:placeholder="#{views.user.password}"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="repeatPassword" th:text="#{views.user.retryPassword}">Repeat Password</label>
                    <div>
                        <div class="input-group">
                            <input type="password" class="form-control" name="repeatPassword" id="repeatPassword"
                                   th:placeholder="#{views.user.retryPassword}"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="firstName" th:text="#{views.user.firstName}">First name</label>
                    <div>
                        <div class="input-group">
                            <input class="form-control" name="firstName" id="firstName"
                                   th:placeholder="#{views.user.firstName}"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName" th:text="#{views.user.lastName}">Last name</label>
                    <div>
                        <div class="input-group">
                            <input class="form-control" name="lastName" id="lastName"
                                   th:placeholder="#{views.user.lastName}"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="position" th:text="#{views.user.position}">Position</label>
                    <div>
                        <div class="input-group">
                            <select class="form-control"  name="position" id="position">
                                <option th:each="position : ${positions.content}"
                                        th:value="${position.name}"
                                        th:text="${position.name}">Position</option>
                            </select>
                        </div>
                    </div>
                </div>

                <input class="btn btn-primary btn-lg btn-block login-button" type="submit"
                       th:value="#{views.forms.signUp}">
            </form>

        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; Melashchenko, 2018</span>
    </div>
</footer>

<th:block layout:fragment="scripts">
    <script src="../static/js/signUp.js" th:src="@{/js/signUp.js}"></script>
</th:block>

</body>
</html>