<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title th:text="#{views.document}">Document</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" href="../static/css/core.css" th:href="@{/css/core.css}"/>

</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Static header</a>
        </div>
    </div>
</nav>

<!--/*@thymesVar id="model" type="com.fpm.registry.dto.DocumentDto"*/-->
<!--/*@thymesVar id="user" type="com.fpm.registry.dto.UserDto"*/-->
<div class="container margin-top" layout:fragment="content">
    <h1 class="title" th:text="#{views.document}">Document</h1>

    <dl class="row">
        <dt class="col-sm-3" th:text="#{views.document.id}">Id</dt>
        <dd class="col-sm-9" th:text="${model.id}">42</dd>

        <dt class="col-sm-3" th:text="#{views.document.name}">Name</dt>
        <dd class="col-sm-9" th:text="${model.name}">
            Document name
        </dd>

        <dt class="col-sm-3" th:text="#{views.document.description}">Description</dt>
        <dd class="col-sm-9" th:text="${model.description}">
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
            ut fermentum massa justo sit amet risus.
        </dd>

        <dt class="col-sm-3" th:text="#{views.document.tags}">Tags</dt>
        <dd class="col-sm-9">
            <th:block th:each="tag : ${model.tags}">
                <span class="badge badge-primary" th:text="${tag}">Tag</span>
            </th:block>
        </dd>

        <dt class="col-sm-3" th:text="#{views.document.place}">Place</dt>
        <dd class="col-sm-9" th:text="${model.place.canonicalName}">Kiev</dd>

        <dt class="col-sm-3" th:text="#{views.document.employee}">Employee</dt>
        <dd class="col-sm-9" th:text="${model.employee.fullName}">John Johnson</dd>

        <dt class="col-sm-3" th:text="#{views.document.date}">Date</dt>
        <dd class="col-sm-9" th:text="${model.date}">04/24/2018</dd>

        <dt class="col-sm-3" th:text="#{views.document.attachment}">Attachment</dt>
        <dd class="col-sm-9">
            <a class="btn btn-info btn-sm" href="#"
               th:href="@{/api/v1/media/{id}(id = ${model.attachment.id})}" th:text="#{views.action.download}">
                Download
            </a>
        </dd>
    </dl>

    <a class="btn btn-success btn-sm" href="#"
       th:href="@{/documents/{id}/edit(id = ${model.id})}" th:text="#{views.action.edit}">
        Edit
    </a>

</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; Melashchenko, 2018</span>
    </div>
</footer>

</body>
</html>